.countDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6.4rem;
  gap: 2rem;
  font-size: clamp(8rem, 30vw, 16rem);
  font-weight: bold;
  text-decoration: none;
  color: var(--text-special);
  transition: all 0.2s ease-in-out;
}

.countDown:hover {
  filter: brightness(80%);
}
