* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--primary);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2.4rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* para Safari */
  padding: 1.6rem 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.formRow {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 1rem;
}
