:root {
  --background: #151515;
  --surface: #1f251c;
  --gray-dark: #686d76;
  --gray-light: #a1a6af;

  --primary: #161718;
  --highlight: #f97300;

  --text-default: #c0c0c0;
  --text-muted: #a1a6af;
  --text-special: #f97300;
  --text-footer: #e7e7e7;

  --success: #22c55e;
  --warning: #facc15;
  --error: #ef4444;
  --info: #3b82f6;

  --link-color: var(--highlight);
  --link-hover: #ff8c1a;

  --border-color: #2a2e26;
  --disabled: #3a3f36;
  --text-disabled: #6b7280;
}

:root[data-theme='light'] {
  background-image: url('/lake-louise-light.jpg');
  --background: #fffdf0;
  --surface: #ffffff;
  --gray-dark: #353536;
  --gray-light: #d5d9df;

  --primary: #161718;
  --highlight: #f97300;

  --text-default: #1a1f25;
  --text-muted: #4b5563;
  --text-special: #f97300;

  --success: #16a34a;
  --warning: #facc15;
  --error: #dc2626;
  --info: #2563eb;

  --link-color: var(--highlight);
  --link-hover: #d35e00;

  --border-color: #e0e0d0;
  --disabled: #d1d5db;
  --text-disabled: #9ca3af;
}
