.input {
  background-color: transparent;
  border: 0.2rem solid transparent;
  text-align: center;
  padding: 0.8rem;
  color: var(--primary);
  outline: none;
  transition: all 0.3s ease-in-out;
  min-width: 29rem;
  border-bottom: 0.2rem solid var(--primary);
}

.input:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--primary);
}

.input:disabled {
  background-color: transparent;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
  color: var(--disabled);
}
/* autofill do navegador (principalmente Chrome), que aplica um estilo interno ao input 
quando o preenchimento automático é usado. 
Esse estilo ignora background-color e não respeita seu CSS diretamente, 
mesmo com !important. */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  color: var(--primary) !important;
}
