.input {
  background-color: transparent;
  border: 0.2rem solid transparent;
  text-align: center;
  padding: 0.8rem;
  color: var(--primary);
  outline: none;
  transition: all 0.3s ease-in-out;
  min-width: 29rem;
  border-bottom: 0.2rem solid var(--primary);
}

.input:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--primary);
}

.input:disabled {
  background-color: transparent;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
  color: var(--disabled);
}
