.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  min-width: 29rem;
  border-radius: 0.8rem;
  margin: 4rem 0;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.red {
  composes: button;
  color: white;
  background-color: var(--error);
}
.green {
  composes: button;
  background-color: var(--gray-light);
}

.button svg {
  width: 2.4rem;
  height: 2.4rem;
}

.button:hover {
  filter: brightness(80%);
}

.button:active {
  transform: scale(0.97);
  filter: brightness(70%);
  border-bottom-width: 0.1rem;
}
